* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1e1e1e;
  color: #f6f6f6;
}

header {
  height: 45px;
  /* border: 3px solid white; */
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 999;
}

/* aside {
  border: 3px solid green;
  position: fixed;
  left: 0;
  top: 0;
  width: 180px;
  height: 100%; 
} */

main {
  border: 4px solid yellow;
  height: 100vh;
  /* scroll-snap-type: y mandatory; */
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
  border: 5px solid rgb(117, 105, 36);
  /* width: calc(100% - 175px); */
  width: 100%;
  margin-left: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  
}

section:first-of-type {
  background-color: transparent;
}

section:nth-of-type(2) {
  background-color: rgba(185, 108, 7, 0.5);
}

section:nth-of-type(3) {
  background-color: rgb(46, 138, 28);
}

section:nth-of-type(4) {
  background-color: rgb(68, 68, 150);
}

/* footer {
  visibility: hidden;
  border: 3px solid white;
  text-align: center;
  height: 40px;
} */