@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --primary-color: white;
  --secondary-color: #f2f2f2;
  --complementary-color: #715df2;
  --dark-color: #333333;
  --gray-color: #8e8e8e;

  --em-100: 1em;
  --em-200: 1.5em;
  --em-300: 2em;
  --em-400: 2.5em;
  --em-500: 3.5em;
  --em-600: 4.5em;
  --em-700: 5em;
  --em-800: 6em;





  --body-bg: url("./assets/svg/background-04.svg");
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  background: var(--body-bg);
  color: var(--dark-color);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
  scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  width: min(100% - 1rem, 1220px);
  margin-inline: auto;
  padding: 1rem;
}

.section {
  padding-block: var(--em-500);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--em-300);
}

.title {
  margin-top: var(--em-400);
}
/* 
  HEADER AND NAVIGATION STYLING
*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--em-100);

  gap: var(--em-100);
}

.logo {
  font-size: var(--em-200);
}

.logo strong {
  color: var(--complementary-color)
}


.navbar-menu {
  margin: 0;
  padding: 0;

  font-size: var(--em-100);
  color: var(--gray-color);

  display: flex;
  gap: var(--em-300);
}

.navbar-menu > *{
  cursor: pointer;
}


.navbar-menu > *:hover {
  /* text-decoration: underline 2px var(--gray-color); */
  border-bottom:  2px solid var(--gray-color);

}

.active {
  border-bottom:  2px solid var(--complementary-color);
}

/* 
  CONTENT STYLING 
*/
.card-content {
  background-color: var(--primary-color);
  height: 100%;
  padding: var(--em-400);

  border-radius: 50px;
  outline: 1.5px solid rgba(0, 0, 0, 0.05);
}


/* 
  HERO STYLING
*/

.social-links {
  color: var(--dark-color);
  display: flex;
  justify-content: space-evenly;
  margin-top: var(--em-400);
}

.social-links > *{
  position: relative;
  transition: all .1s ease-in;
}

.social-links > *:hover {
  transform: translateY(-5px);
}

.social-links > *::before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 0;
  transition: all .1s ease-in;
}

.social-links > *:hover::before {
  transform: translateY(10px);
  border-bottom: 2px solid var(--complementary-color);
}

.hero-image {
  margin-inline: auto;
  width: 150px;
  height: 150px;
  aspect-ratio: 1;
  padding: .2rem;
  background-color: var(--secondary-color);

  border: 1rem solid var(--primary-color);
  border-radius: 50%;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.15);
}

.hero-about {
  margin-top: var(--em-300);
}

.hero-about h1{
  text-align: center;
  font-size: var(--em-300);
}

.hero-about h3 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray-color);
  text-align: center;
  
  margin-bottom: var(--em-300);
}

.hero-about p {
  text-align: justify;
  text-justify: inter-word;
}

.typing-element {
  min-height: 160px;
  text-align: justify;
  text-justify: inter-word;
}

.btn {
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 50px;
  font-weight: 500;
  padding: .5rem 1rem;
  margin-top: var(--em-300);
  font-size: 1em;
  transition: all .2s ease-in;
  margin-right: calc(var(--em-100) - 5px);
}

.email-btn {
  visibility: hidden;
  border: 2px solid var(--complementary-color);
}

.email-btn:hover {
  background-color: var(--complementary-color);
  color: var(--primary-color);
}

.resume-btn {
  visibility: hidden;
  border: 2px solid var(--gray-color);
}

.resume-btn:hover {
  color: white;
  background-color: var(--dark-color);
}

.copy {
  visibility: visible;
}

/* 
  PROJECT CARDS STYLING
*/
.project-image {
  overflow: hidden;
  border: 2px solid #9e90fa;
  border-radius: 20px;
  height: 120px;
}

.project-image img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.project-item {
  /* padding: .5rem; */
  overflow: hidden;
  max-width: 250px;
  height: 200px;
  /* border: 2px solid var(--dark-color); */
  border-radius: 20px;
}

.project-name {
  font-weight: 500;
  padding: .5rem .6rem;
  text-decoration: underline 2px var(--complementary-color);
}

.project-info ul{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: .5rem .4rem;
  margin: 0;
}

.project-info ul li {
  color: white;
  border-radius: 20px;
  padding: .1rem .8rem;
  display: inline-block;
  margin-right: .5rem;
}

.react {
  background-color: #00cdf2;
}

.css {
  background-color: #264de4;
}





@media screen and (min-width: 640px) {
  /* body {
    font-size: 16px;
  } */

  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-inline: calc(var(--em-700) + 1rem);
    gap: var(--em-500);
    margin-top: var(--em-600);
  }

  .hero > *:first-child {
    flex: 0 1 auto;
  }

  .hero > *:last-child {
    flex: 5 1;
  }

  

  .hero-image{
    width: 250px;
    height: 250px;
  }
}

@media screen and (min-width: 1024px) {
  body{
    font-size: 16px;
  }

  .section {
    flex-direction: row;
  }

  .hero-about {
    margin: 0;
  }

  .hero-about h1{
    text-align: left;
    font-size: 48px;
  }

  .hero-about h3{
    text-align: left;
  }
}


