@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-bg-clr: #1e1e1e;
  --white-clr: #f6f6f6;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  font-size: 1rem;
  margin: 0;
  background-color: var(--main-bg-clr);
  color: var(--white-clr);
}

header {
  /* height: 45px; */
  /* border: 3px solid white; */
  position: fixed;
  padding-top: 2rem;
  width: 100%;
  text-align: center;
  z-index: 999;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

header img {
  width: 40px;
}

/* aside {
  border: 3px solid green;
  position: fixed;
  left: 0;
  top: 0;
  width: 180px;
  height: 100%; 
} */

/* main {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
}

section {
  position: absolute;
  left: 0;
  
  width: 100%;
  margin-left: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;

  
} */




/* footer {
  visibility: hidden;
  border: 3px solid white;
  text-align: center;
  height: 40px;
} */


main {
  scroll-snap-type: y mandatory;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

section {
  scroll-snap-align: start;
  /* position: sticky;
  top: 0; */
  height: 100vh;

  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

@media screen and (max-width: 360px) {
  body {
    font-size: 12px;
  }
}
.container {
  /* border: 3px solid red; */
  max-width: 1200px;
  height: 100%;
  margin-inline: auto;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 1rem;

  overflow: auto;
}
.card {
  max-width: 380px;
  height: 380px;
  aspect-ratio: 1;
  background-color: gray;
}